# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / Build
dist/
.vite/
*.local

# Env
.env
.env.*.local

# Editor / OS
.DS_Store
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Coverage / tests
coverage/
